body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MainContainer {
  width: 100vw;
  height: 100vh;
}

.SideMenu {
  float: left;
  min-width: 200px;
  overflow-y: scroll;
  height: 100%;
}

.PageCotnainer {
  display: inline-block;
  width: calc(100% - 200px);
  height: 100vh;
}